useDynLib(exageostat)
export(Test1)
export(Test2)
export(Test3)
export(Test4)
export(gen_z_exactR)
export(gen_z_givenlocs_exactR)
export(mle_exactR)
export(mle_tlrR)
export(mle_dstR)
export(exageostat_initR)
export(exageostat_finalizeR)

